.font-ultra {
  font-size: calc(3rem + 1.5vw);
}


.header-height {
  height: 60px;
}

.menu-button {
  height: 60px;
  width: 60px;
}

.banner-height {
  min-height: calc(100vh - 60px);
}

.banner {
  @extend .banner-height;

  .banner-img {
    left: 45%;
    min-height: 100%;
    min-width: 100vw;
    top: 10%;
    transform: translate(-45%, -10%);
  }

  .button-sizing {
    max-width: 150px;
  }
}
