textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.font-ultra {
  font-size: calc(3rem + 1.5vw);
}


body {
  position: relative;
}

.header-height {
  height: 3.5rem;

  .nav-link {
    border-bottom: solid 3px #000;

    &:hover {
      border-bottom: solid 3px #ffc107;
    }
  }

  .active {
    border-bottom: solid 3px #ffc107;
  }
}

.menu-button {
  height: 3.5rem;
  width: 3.5rem;
}

.banner-height {
  min-height: calc(100vh - 3.5rem);
}

.banner {
  @extend .banner-height;

  .banner-img {
    left: 45%;
    min-height: 100%;
    min-width: 100vw;
    top: 10%;
    transform: translate(-45%, -10%);
  }

  .button-sizing {
    max-width: 150px;
  }
}

.carousel-size {
  height: 100%;
  max-height: 600px;
}

.galery-img {
  height: auto;
  width: 100%;
  min-width: 100px;
  max-width: 400px;
}

.contact-message {
  height: 200px !important;
  resize: none;
}