.font-ultra {
  font-size: calc(3rem + 1.5vw);
}


body {
  position: relative;
}

.header-height {
  height: 3.5rem;

  .nav-link {
    border-bottom: solid 3px #000;

    &:hover {
      border-bottom: solid 3px #ffc107;
    }
  }

  .active {
    border-bottom: solid 3px #ffc107;
  }
}

.menu-button {
  height: 3.5rem;
  width: 3.5rem;
}

.banner-height {
  min-height: calc(100vh - 3.5rem);
}

.banner {
  @extend .banner-height;

  .banner-img {
    left: 45%;
    min-height: 100%;
    min-width: 100vw;
    top: 10%;
    transform: translate(-45%, -10%);
  }

  .button-sizing {
    max-width: 150px;
  }
}

.about-img {
  height: auto;
  max-width: 400px;
  width: 100%;
}

.carousel-size {
  height: 100%;
  max-height: 600px;
}